/* フォーム */
#textform{
    white-space: pre-wrap;
}

/* コンテンツページ */
.top-wrapper{
    text-align: center;
}

.title-content h1{
    margin: 0;
    padding-bottom: 0;
}

.top-content{
    text-align: center;
    display: flex;
    overflow-x:scroll;
}

#item{
    /* height: 520px; */
    /* margin-left: 2vw; */

    width: 85vw;
    padding:3vw;
    padding-top: 10px;

}

/* タイムライン */
.timeline{
    text-align: center;
}

#items{
    width: 90vw;
    margin-bottom: 0;
}

.timeline p{
    margin-top: 0;
    margin-bottom: 30px;
    padding-bottom: 5px;
    border-bottom: solid 1px #e2dcdc;
}