a{
    text-decoration: none;
    cursor: pointer;
    color: black;
}

/* ヘッダー */
header{
    position: fixed;
    top: 0;
    background-color: white;
    width: 96vw;
    padding-top: 15px;
    padding-bottom: 0;
    display: table;
}

.left-item{
    display: table-cell;
    text-align: left;
    width: 31vw;
}

.center-item{
    display: table-cell;
    text-align: center;
    width: 33vw;
}

.right-item{
    display: table-cell;
    text-align: right;
    width: 33vw;
}

#white{
    color: white;
}




/* フォーム */
#textform{
    white-space: pre-wrap;
}

/* コンテンツページ */
.top-wrapper{
    text-align: center;
}

.title-content h1{
    margin: 0;
    padding-top: 10px;
}

.top-content{
    text-align: center;
    display: flex;
    overflow-x:scroll;
}

#item{
    /* height: 520px; */
    /* margin-left: 2vw; */

    width: 85vw;
    padding:3vw;
    padding-top: 10px;

}

/* タイムライン */
.timeline{
    text-align: center;
}

#items{
    width: 90vw;
    margin-bottom: 0;
}

.timeline p{
    margin-top: 0;
    margin-bottom: 30px;
    padding-bottom: 5px;
    border-bottom: solid 1px #e2dcdc;
}

/* ホーム */
body{
    margin-top: 0;
}
.under-the-grid{
    height: 52px;
    border-bottom: solid 1px thin;
}

.grid{
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;

    gap: 24px;

}

.grid img{
    width: 100%;
    height:180px;
}

/* 編集画面 */

.edit-title,
.edit-subtitle {
    border-top:white;
    border-right: white;
    border-left: white;
    border-radius: 0;
    outline: none;
    resize: none;
}

.edit-title{
    height: 50px;
    text-align: center;
    font-size: 40px;
    width: 350px;
    border-bottom: solid 0.8px gray;
}


.edit-subtitle{
    font-size: 16px;
    width: 380px;
    border-bottom: white;
}

#edit-item{
    width: 90vw;
    margin-top: 10px;
    margin: 2vw 4vw;
}

.edit-submit,
.edit-delete{
    background-color: white;
    border-radius: 20px;
    text-decoration: none;
    -webkit-appearance: none;
    padding: 5px 20px;
}

.edit-submit{
    text-align: center;

}

.edit-delete{
    text-align: right;
}